@charset "UTF-8";

html, body, section, input, textarea, label, span, ul, li, h1, p, div {
  margin: 0;
  padding: 0;
  line-height: 1.0;
  font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
}

textarea, input {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

textarea, input[type=text] {
  border: 1px solid #e1e1e8;
  background: #ffffff;
  padding: 4px;
}

#edit-save, #edit-delete {
  border: 1px solid #357ebd;
  border-radius: 4px;
  background: #428bca;
  color: #ffffff;
  padding: 6px 12px;
  font-size: 14px;
}

input:focus, textarea:focus {
  box-shadow: 0 0 0.5px 0.5px #091D42;
}

section {
  display: block;
}


#login, #list, #edit, #help {
  display: none;
}

#help {
  position: fixed;
  width: 72%;
  top: 5%;
  left: 3%;
  z-index: 9999; 
  border: 1px solid #ddd;
  overflow: hidden;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: #444444;
  color: #ffffff;
  opacity: 0.8;
}

dl {
  margin: 0px;
  padding: 4px;
}

dt {
  float: left;
  clear: left;
  width: 200px;
  padding: 8px 4px;
  font-weight: bold;
}

dd {
  margin-left: 216px;
  padding: 8px 4px;
}

#login-text {
  border: 1px solid #5cb85c;
  border-radius: 4px;
  background: #4cae4c;
  color: #fff;
  display: block;
  padding: 6px 12px;
  margin: 8px 0px;
  font-size: 14px;
}

#login-text i {
  margin-right: 10px;
}

.login-share {
  margin: 16px 0px 0px;
}

.login-share iframe, .login-share div {
  float: left;
}

#share-hatena-img {
  border: none;
}

.login-contact {
  padding: 12px 0px;
  clear: both;
}
.login-contact a {
  word-break: break-all;
}

.logout {
  border: 1px solid #46b8da;
  border-radius: 4px;
  background: #5bc0de;
  color: #ffffff;
  display: block;
  padding: 6px 12px;
  margin: 8px 0px;
  font-size: 14px;
}

#edit-share-button {
  margin-top: 8px;
}

#edit-share-button a, #login a {
  margin: 0px;
  padding: 0px;
  color: #0088cc;
  text-decoration: none;
}

ul, li {
  list-style-type: none;
}

#list ul li {
  list-style-type: none;
  position: relative;
}

#list ul li i.icon-right-open {
  position: absolute;
  right: 0;
  color: #F0ECEB;
}

i.icon-plus {
  font-size: 14px;
  margin-left: -.2em;
}

li {
  line-height: 1.4;
}

.clear:before,
.clear:after {
  display: table;
  content: " ";
}

.clear:after {
  clear: both;
}


/* Responsive */
/* For Desktop */

@media screen and (min-width: 480px){
  html, body , section, input, textarea {
    font-size: 16px;
  }

  h1 {
    margin: 9px 0px 0px;
    padding: 8px 8px 8px 16px;
    font-size: 16px;
    font-weight: normal;
    background-color: #ABABAD;
    color: #ffffff;
  }

  #logo-wrapper {
    width: 256px;
    margin-right: 16px;
    float: left;
  }

  #logo-image {
    width: 256px;
  }

  #login h1 {
    padding: 12px 0px 12px 8px;
    border-radius: 4px;
  }

  #description-wrapper {
    padding: 8px;
    overflow: hidden;
  }

  #login ul {
    background-color: #C4C4C6;
    border-radius: 4px;
    padding: 12px 8px 12px 8px;
    margin: 16px 0px;
  }

  #login ul li {
    word-wrap: break-word;
  }

  #edit {
    width: 60%;
    padding: 10px;
  }
  label#edit-title-label {
    width: 82px;
    display: inline-block;
    padding: 8px;
    color: #ffffff;
    background: #ABABAD;
  }
  #edit-title {
    width: 400px;
  }

  #edit-area {
    margin: 10px 0px;
    width: 100%;
    height: 320px;
  }

  .edit-select {
    margin-top: 12px;
  }
  .edit-select input {
    margin-right: 8px;
  }
  .edit-select label {
    margin-right: 8px;
  }

  section {
    padding: 0px 12px;
  }

  #list {
    width: 80%;
  }

  #list ul li {
    padding: 6px 12px;
    border-bottom: 1px solid #e1e1e8;
    cursor: pointer;
  }

  #list ul li.active {
    background: #f7f7f9;
    color: #333333;
  }
  #list ul li.public {
    color: #00f700;
  }

}

/* For mobile */
@media screen and (max-width: 479px){
  html, body , section, input, textarea {
    font-size: 18px;
  }
  
  h1 {
    margin: 0px 0px;
    padding: 18px;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    background: #1e1e81;
  }

  #logo-image {
    width: 128px;
    height: 128px;
    margin: 0px auto;
    display: block;
  }

  #login-text {
    margin: 8px auto;
  }


  #login {
    width: 100%;
    height: 100%;
  }

  #login > div {
    margin: 0px 8px;
  }

  #login ul.english {
    background: #e1e1e8;
    color: #333333;
    padding: 9px 0px;
    margin: 18px 0px;
  }

  #login ul.japanese {
    background: #e1e1e8;
    color: #333333;
    padding: 9px 0px;
    margin-bottom: 18px;
  }

  #login ul li {
    padding: 8px 4px 0px;
    word-wrap: break-word;
  }

  #edit {
    padding: 10px;
  }
  label#edit-title-label {
    width: 71px;
    display: inline-block;
    border-left: 9px solid  #f7f7f9;
    padding-left: 9px;
  }
  #edit-title {
    width: 200px;
  }
  #edit-area {
    margin: 10px 0px;
    width: 100%;
    height: 220px;
  }
  .edit-select {
    margin-top: 12px;
  }
  .edit-select input {
    margin-right: 8px;
  }
  .edit-select label {
    margin-right: 8px;
  }

  #list ul li {
    padding: 6px 12px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }

  #list ul li.active {
    background: #f7f7f9;
    color: #333333;
  }
  #list ul li.public {
    color: #00f700;
  }

}
